.add {
  width: 70%;
  margin-left: 5vw;
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.add img {
  width: 120px;
}

.add .flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-img-upload label {
  cursor: pointer;
}

.add form {
  gap: 20px;
}

.add-product-name input,
.add-product-descripton textarea {
  max-width: 400px;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  outline: none;
  font-family: inherit;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-category select {
  max-width: 120px;
  padding: 10px 20px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  outline: none;
}

.add-price input {
  max-width: 120px;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  outline: none;
}

.add-btn {
  max-width: 120px;
  padding: 10px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.add-btn:hover {
  background-color: #333;
  transform: translateY(-2px);
}
